streamlit
langchain-community
sentence-transformers
pypdf
python-docx
unstructured
transformers
torch
PyPDF2
faiss-cpu
langchain
openai
pdfplumber
pandas
matplotlib
seaborn
plotly
requests
pytest
tqdm
unidecode
regex
googletrans
deep-translator
gTTS
pyttsx3
ctransformers
tiktoken
guidance
prompt-toolkit
google-api-python-client
google-auth-httplib2
google-auth-oauthlib